/*title*/
h1 {
color: #6594e0;/*color*/
text-align: center;
border-bottom: dashed 2px #6594e0; /*line*/
}


body {
font-size: 1.8em;
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;  
}



.navbar-default {
background-color: #223e80; /* background */
border-color: #16264d; /* border */
}

/* navbar active */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
background-color: #0e1833;
}

