/*title*/
h1 {
color: #6594e0;/*color*/
text-align: center;
border-bottom: dashed 2px #6594e0; /*line*/
}



body {
font-size: 1.8em;
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
}

