
/*title*/
h1 {
line-height: 1.2em;
}


body {
font-size: 1.8em;
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;  
}


.navbar-default {
background-color: #223e80; /* background */
border-color: #16264d; /* border */
}

/* navbar active */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
background-color: #14254c;
}


.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
color: #ffffff;
background-color: #1b3166;
}

